@media(max-width:990px){
    header{
        padding: 10px 3%;
        transition: .4s;
        margin-bottom: 100px;
    }
    .main-img{
        margin: 0 auto;
    }
    .main-text{
        margin-top: 60px;
        transition: all .40s;
    }
    .img-hab{
        width: 70%;
    }
    .other-nolege{
        width: 70%;
    }
}

@media(max-width:750px){
    .nav-menu{
        position: absolute;
        top: 100%;
        right: -100%; /*visiblidade none*/
        width: 300px;
        height: 130vh;
        background-color:#2a2a2a ;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 30px;
        transition: all .42s;
    }
    .nav-menu a{
        display: block;
        margin: 3px 0;
    }
    .nav-menu.open{
        right: 0; /*direcao menu*/
      
    }
    .logo{
        width: 25px;
    }
}

@media(max-width:690px){
    header{
        justify-content: space-between;
        padding: 20px 10%;
    }
    .about-text{
         width: 100%;
    }
    .img-about{
        transition: all .42s;
        margin: 0 auto;
    }
    .main-home{
        grid-template-columns: 1fr;
    }
    .main-img img{
        width: 300px;
        height: 300px;
    }
   
    .about{
        align-items: center;
       
    }
    .projects-deck{
        display: flex;
        flex-direction: column;
    }
    
}

@media(max-width:500px){
    .card {
        margin: 0 auto;

    }
    .card img{
        width: 325px;
    }
    
     
}
/*================TABLET==================*/
@media(max-width:1024px) {
    .main-social ul{
        position: absolute;
        top: 450px;
        left: 0px;
        width: 300px;
        padding: 5% 10%;
    }
    .main-text h1{
        font-size: 2.2rem;
    }
    .form-group{
        width: 100%;
        margin-bottom: 30px;
    } 
    .card{
        width: 390px;
    }
    .card img{
        width: inherit;
        height: 200px;
    }
}
@media(max-width:834px){
    .main-text h1{
        font-size: 1.5rem;
        }     
    
    .main-img img{
    width: 100%;
    }  
    .projects-deck{
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
    .card{
        width: 300px;
    }
    .card img{
        width: inherit;
        height: 200px;
    }

    .form-group{
        width: 100%;
        margin-bottom: 30px;
    }
    .main-social ul{
        position: absolute;
        top: 395px;
        left: 0px;
        width: 300px;
        padding: 5% 10%;
    }
}

@media(max-width:768px){
    .main-text h1{
        font-size: 1.5rem;
        }     
    
    .main-img img{
    width: 100%;
    }  
    .projects-deck{
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
    .card{
        width: 300px;
    }
    .card img{
        width: inherit;
        height: 200px;
    }

    .form-group{
        width: 100%;
        margin-bottom: 30px;
    }
    .main-social ul{
        position: absolute;
        top: 370px;
        left: 0px;
        width: 300px;
        padding: 5% 10%;
    }
}

/*==============MOBILE====================*/
@media(max-width:415px){
    
    section{
        padding: 2.5% 5%;
    }
    .main-text h1{
    font-size: 25px;
    } 
    .main-home{
      grid-template-columns: 1fr;
      align-items: center;
    }
    .main-img img{
        width: 80%;
    } 
    .about{
       margin: 0;
       flex-direction: column;
       align-items: center;
    }
    
    .about-text{
        transition: all .42s;
        width: 100%;
        font: .6rem;
        height: auto;
        margin-bottom: 30px;
    }

    .about-text p{
        width: inherit;
    }
    .down-arrow{
        position: absolute;
        top: 85%;
        right: 11%;
    }
    header{
        justify-content: space-between;
        padding: 12px 5%;
    }
    .logo{
        width: 2.8rem;
    }
    #habilidades img{
        width: 60px;
    }
    .form-group{
        width: 100%;
        margin-bottom: 30px;
    }
    #projects{
        margin-bottom: 0;
        height: auto;  
    }
    .project-title{
        margin-top: 30px;
    }
    .projects-deck{
        margin-bottom: 30px;
    }
    .card{
        width: 350px;
    }
    .card img{
        width: inherit;
        height: 200px;
    }
    footer{
        width: auto;
    }
}
/*===========================================*/
@media(max-width:375px){
    header{
        justify-content: space-between;
        padding: 12px 5%;
    }
    .logo{
        width: 2.8rem;
    }
    .down-arrow{
        right: 9%;
    }

   .main-text h1{
        font-size: 20px;
   }
   .main-text h5{
        font-size: 20px;
    }
    .main-img img{
        width: 300px;
        height: 300px;
    }

    #habilidades img{
    width: 60px;
    }
    #projects{
       padding: 5% 0;
    }
    .card{
        width: 330px;
    }
    .card img{
        width: inherit;
        height: 200px;
        padding-right: 5px;
    }
    .form-group{
        width: 100%;
    }
    .text-center h2{
        font-size: 2rem;
    }
    .main-social{
        position: relative;
        top: -70px;
        width: 300px;
        padding: 5% 10%;
    }
    
}
/*===========================================*/
@media(max-width:265px){
    .img-hab{
        margin-left: 90px ;
    }
    .text-center h2{
        margin-left: 78px ;
    }
}
